[submodule "apriltag"]
	path = apriltag
	url = https://github.com/rasmusgo/apriltag.git
	branch = fixPullRequestLibraryName
[submodule "wxWidgets"]
	path = wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "openvr"]
	path = openvr
	url = https://github.com/ValveSoftware/openvr.git
[submodule "opencv"]
	path = opencv
	url = https://github.com/opencv/opencv.git
[submodule "opencv_contrib"]
	path = opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
